/*
 * tested in IEtester
 *====================/

/*==================================================
  HEADER
  ==================================================*/
/*
 * TOP MENU
 */
.top-menu-item{
    display: inline;
}
/* current menu item*/
.top-menu .current a{
    background: #000;
    height: auto;
    border-bottom: 4px solid #fff;
    padding-bottom: 11px;
}
/*
 * ENTER & ACCOUNT MENU
 */
.account-menu-enter {
    background: #000 url("../img/icons_account_enter_single_png8.png") no-repeat 0 29px;
    behavior: expression(
          onmouseover = function() {this.className += ' hover'},
          onmouseout = function() {this.className = this.className.replace('hover', '')},
		  style.behavior = null
        );
}

.account-menu .hover{
    background: #000 url("../img/icons_account_enter_single_hover_png8.png") no-repeat 0 29px
}
/*==================================================
  CONTENT
  ==================================================*/
/*
 * BREADCRUMBS
 */

/* icon for breadcrumb item */
.breadcrumbs-item{
    background: url("../img/icon_rhomb.png") no-repeat 82% 50%;
}
    .breadcrumbs .current{
        background: none;
    }

/*
 * FEATURES
 */
/* features: single item */
.features li {
    width: 310px;
    margin: 0;
    padding-right: 10px;
}
/* title for features */
.features-title {
    position: relative;
    padding-bottom: 70px; /* free space for icon after title */
    margin-bottom: 0;
    font-size: 3em;
    line-height: 1.4em;
    background: url("../img/icon_features_title_png8.png") no-repeat 50% 60px;
}
/*
 * INDEX SECTION
 */
.index-section{
    clear: both;
    zoom: 1;
}
/* right column */
.index-right-column{
    margin: 0;
    padding-bottom: 0;
    background: url("../img/line_index_section_vertical.png") no-repeat 0 50%;
}
/* left column: news*/
.index-news{
    width: 340px;
    margin: 0;
}
/* right column: gallery*/
.gallery-controls{
    margin-top: 50px;
}
/** left column: contacts */
.contacts-btns{
    margin-top: 45px;
}
/* right column: order form */
.index-order{
    width: 317px;
}
.index-order p{
    width: 300px;
}
.order-form input{
    height: auto;
    margin-right: 17px;
    padding: 11px 0 11px 15px;
}
/*==================================================
  CONTENT: MAGAZINE PAGE
  ==================================================*/
/*
* RIGHT COLUMN
*/
.magazine-right-column {
    width: 717px;
}
    .magazine-item{
        margin: 6px; /* free space between items */
    }

/*
 * PAGINATION
 */
.magazine-pagination-item{
    display: inline;
    padding-bottom: 2px;
}
    .magazine-pagination .current{
        background: #000;
        padding: 0 0 4px 0;
        margin-right: 4px;
    }
    .magazine-pagination .current a{
        line-height: 38px;
        border: none;
        margin: 0;
    }
/* ============================================================
   CONTENT:PRICE PAGE
   ============================================================ */
/*
 * MOTTO
 */
.price-motto{
    background: url("../img/bg_motto.png") no-repeat 0 50%;
}
/*
 * LEFT COLUMN
 */
.price-left-column{
    width: 255px;
    padding-left: 10px;
    margin: 0;
}

/* used tools */
.price-used-tools-item{
    background: url("../img/icon_rhomb.png") no-repeat 0 50%;
}
/*
 * RIGHT COLUMN
 */
.price-right-column .price-column-heading{
    padding-bottom: 37px;
}
/*
 * ABOUT US
 */
.price-about-us{
    padding: 0;
}
/* ============================================================
   POP-UP: LOGIN FORM
   ============================================================ */
.popup-login{
    position: absolute;
}
/* account inputs */
.popup-login .account-input{
    height: auto;
    padding: 10px 0 10px 15px;
}
    /* account input: login */
    .popup-login .account-input-login{
        background: url("../img/icon_login.png") no-repeat 95% 50%;
    }
    /* account input: password */
    .popup-login .account-input-pass{
        margin-bottom: 15px;
        background: url("../img/icon_password.png") no-repeat 95% 50%;
    }
    /* remember me */
    label{
        font-size: 14px;
    }
    /* forgot password */
    .popup-login .account-forgot {
        margin-left: 58px;
    }
    /* button for close pop-up */
    .btn-close{
        background: url("../img/pop_up_close_png8.png") no-repeat;
    }






