/* ============================================================
   HEADER
   ============================================================ */
/*
 * ENTER & ACCOUNT MENU
 */
/* icon for account enter button */
.account-menu-enter{
    background: url("../img/icons_account_enter_single.png") no-repeat 0 50%;
}
    .account-menu-enter:hover{
        background: url("../img/icons_account_enter_single_hover.png") no-repeat 0 50%;
    }
    .account-menu-enter:before {
        display: none;
    }
/* ============================================================
   CONTENT
   ============================================================ */
/*
* LEFT COLUMN:
* NEWS
*/
.index-news  {
    width: 335px;
    padding: 0;
}
/*
 * RIGHT COLUMN:
 * ORDER
 */
.index-order {
    width: 317px;
}
    .order-form fieldset input{
        height: auto;
        padding: 11px 0 11px 15px;
        margin: 0 17px 0 0; /* free horizontal space between input elements */
    }
/* ============================================================
   CONTENT:MAGAZINE PAGE
   ============================================================ */
/*
 * WIDGET: PRODUCERS
 */
.producers input{
    padding: 0;
}
.producers label{
    padding: 0;
}
/* ============================================================
   CONTENT:PRICE PAGE
   ============================================================ */
/*
* LEFT COLUMN
*/
.price-left-column{
    width: 255px;
}

/* ============================================================
   POP-UP: LOGIN FORM
   ============================================================ */
.popup-login .account-input-login,
.popup-login .account-input-pass{
    height: auto;
    padding: 10px 0 10px 15px;
}
/* checkbox: remember */
.popup-login .account-remember{
    padding: 0;
    margin-top: 15px;
}
.popup-login .account-remember+label{
    padding: 0;
    margin-right: 58px;
}