/* ============================================================
   CSS RESET
   ============================================================ */
html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* ============================================================
   STRUCTURE & TYPOGRAPHY
   ============================================================ */
body {
    font-size: 62.5%;
    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: #f9f6f3 url("../img/bg_other_page.png") repeat 0 0; /* background for all pages (except index page) */
}
/*
 * BACKGROUND FOR INDEX PAGE
 */
.index-page {
    background: #000 url("../img/bg_index_page.jpg") no-repeat 50% 0;
}
/*
 * CLEANING THE FLOW
 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*
 * WRAPPER
 */
.layout-center-wrapper {
    width: 960px;
    margin: 0 auto;
}
/* ============================================================
   BUTTONS
   ============================================================ */
.btn {
    display: inline-block;
    padding: 12px 0;
    background: #000;
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
    .btn:hover {
        background: #fff;
        color: #000;
    }
button.btn{
    height: 43px;
    padding: 0;
    border: none;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
    text-transform: uppercase; /* for -webkit browsers */
    cursor: pointer;
}

/* ============================================================
   CHECKBOXES
   ============================================================ */
.checkbox { /* for old browsers*/
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
.checkbox + label {
    position: relative; /* for checkboxes icon */
    display: inline-block;
    padding: 0 0 0 45px;
    margin: 0 0 20px 0;
    cursor: pointer;
}
.checkbox + label:last-child {
    margin-bottom: 0;
}
/* hide default checkboxes */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
/* unchecked checkbox */
.checkbox:not(checked) + label:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: url("../img/spritesheet.png") no-repeat -5px -5px;
}
/* checked checkbox */
.checkbox:checked + label:before {
    background: url("../img/spritesheet.png") no-repeat -25px -5px;
}


/* ============================================================
   HEADER
   ============================================================ */
.header {
    background: #000;
    color: #fff;
    font-size: 1.6em;
    line-height: 2.625em;
}
    .header a:link,
    .header a:visited,
    .header a:hover,
    .header a:active {
        color: #fff;
    }

/*
 * TOP MENU
 */
.top-menu {
    float: left;
    width: 780px;
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
}
    .top-menu-item {
        display: inline-block;
        margin-right: -3px; /* delete free space between li elements */
    }
        .top-menu-item a {
            display: block;
            padding: 15px 20px;
            text-decoration: none;
        }
        .top-menu-item a:hover {
            background: #242424;
        }

        /* current menu item */
        .top-menu-item.current a{
            position: relative;
        }
            .top-menu-item.current a:after {/* line under active item menu */
                content: "";
                position: relative;
                bottom: -15px;
                left: 0;
                display: block;
                height: 4px;
                margin-top: -4px;
                background: #fff;
            }
            .top-menu-item.current a:hover {
                background: #000;
            }

        /* menu item: active (for index page) */
        .index-page .top-menu-item.current a:after {
            bottom: -19px;
        }
/*
 * ENTER & ACCOUNT MENU
 */
.account-menu {
    float: right;
    max-width: 130px;
}
    /* button for enter */
    .account-menu-enter {
        position: relative;
        display: block;
        width: 79px;
        height: 72px;
        padding: 0 10px 0 35px;
        border: none;
        background: #000;
        color: #fff;
        text-transform: uppercase; /* for -webkit browsers */
        font-weight: bold;
        font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-size: 1em;
        line-height: 2.5em;
    }

    /* icon for account enter button */
    .account-menu-enter:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        margin-top: -8px;
        background: url("../img/spritesheet.png") no-repeat -95px -32px;
    }
    .account-menu-enter:hover:before {
        background-position: -111px -32px;
    }

/* ============================================================
   CONTENT
   ============================================================ */
/*
 * HEADING FOR PAGES
 */
.page-heading {
    margin: 50px 0 0 10px;
    font-size: 3em;
    text-transform: uppercase;
}
/*
 * BREADCRUMBS
 */
.breadcrumbs {
    margin: 18px 0 40px 10px;
    padding: 0;
    font-size: 1.4em;
    list-style: none;
}
    /* breadcrumbs item */
    .breadcrumbs-item {
        position: relative; /* for icon after single item */
        display: inline;
        padding-right: 40px;
    }
        /* icon after single item */
        .breadcrumbs-item:after {
            content: "";
            position: absolute;
            top: 50%;
            right: 13px;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            background: url("../img/spritesheet.png") no-repeat -145px -5px;
        }
        /* current item */
        .breadcrumbs-item.current {
            padding-right: 0; /* delete space after item */
        }
        .breadcrumbs-item.current:after {
            content: none; /* delete icon after item */
        }
            /* breadcrumbs links */
            .breadcrumbs a:link,
            .breadcrumbs a:visited,
            .breadcrumbs a:hover,
            .breadcrumbs a:active {
                color: #000;
                text-decoration: none;
            }
/*
 * LOGO
 */
.logo {
    margin-top: 57px;
}
    .logo a {
        display: block;
        width: 368px;
        height: 204px;
        margin: 0 auto;
        background: url("../img/bg_index_logo.png") no-repeat 0 0;
        text-indent: -9999px;
    }

/*
 * FEATURES
 */
.features {
    padding: 0;
    margin: 20px 0 82px 0;
    list-style: none;
    color: #fff;
}
    /* features: single item */
    .features li {
        float: left;
        width: 300px;
        margin: 0 10px;
        text-align: center;
    }
    .features-title {
        position: relative;
        margin-bottom: 70px; /* free space for icon after title */
        font-size: 3em;
        line-height: 1.4em;
    }
        /* features: icon after title */
        .features-title:after {
            position: absolute;
            content: "";
            left: 50%;
            bottom: -47px; /* center the icon (vertical) */
            width: 30px;
            height: 30px;
            margin-left: -15px;
            background: url("../img/spritesheet.png") no-repeat -55px -5px;
        }
    .features p {
        font-size: 1.4em;
        margin: 0 10px;
        line-height: 1.714em; /*   узнать, как подобрать высоту линии через относительные величины     */
    }

/*
 * INDEX SECTION
 */
.index-section{
    position: relative; /* for vertical line */
    margin: 34px 10px 35px 10px;
    background: #f8f5f2 url("../img/bg_index_section.png") repeat;
}
        /* vertical line for index section */
        .index-section:before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 8px;
            height: 278px;
            margin-left: -4px;
            margin-top: -139px;
            background: url("../img/spritesheet.png") no-repeat -165px -5px;
        }

        /*
         * INDEX SECTION LEFT COLUMNS
         */
        .index-left-column {
            float: left;
            width: 380px;
            padding: 45px 0 54px 80px;
        }

        /*
         * INDEX SECTION RIGHT COLUMNS
         */
        .index-right-column {
            float: right;
            width: 380px;
            padding: 45px 0 54px 80px;
}
            /*
            * TITLE FOR EACH COLUMN
            */
            .column-title {
                margin-bottom: 25px;
                font-size: 3em;
                line-height: 1.4em;
            }

            /*
            * LEFT COLUMN:
            * NEWS
            */
            .index-news  {
                width: 300px;
                padding: 0;
                list-style: none;
            }
                .index-news li {
                    margin-bottom: 30px; /* free space between news text */
                    font-size: 1.4em;
                    line-height: 1.714em;
                }
                    .index-news a:link,
                    .index-news a:visited,
                    .index-news a:hover,
                    .index-news a:active {
                        color: #000;
                    }
                    .index-news a {
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                        .index-news a:hover{
                            text-decoration: underline;
                        }
                    .index-news .date {
                        font-family: Georgia, Times, serif;
                        font-style: italic;
                        font-weight: normal;
                        text-transform: lowercase;
                    }
                /* news button */
                .index-news-btn {
                    width: 140px;
                }

            /*
             * RIGHT COLUMN:
             * GALLERY
             */
            .gallery {
                width: 300px;
            }
                /* wrapper for gallery items */
                .gallery-items {
                    border: 7px solid #fff;
                    background: #e5e5e5;
                }
                    .gallery-items img{
                        display: block; /* default value inline and has a free space around image */
                        width: 100%;
                    }
                /* wrapper for gallery buttons */
                .gallery-controls {
                    margin-top: 52px;
                }
                    /* gallery buttons */
                    .gallery-btn-prev, .gallery-btn-next {
                        width: 140px;
                    }
                    .gallery-btn-prev {
                        float: left;
                    }
                    .gallery-btn-next {
                        float: right;
                    }
            /*
            * LEFT COLUMN:
            * CONTACTS
            */
            .contacts-address, .contacts-work-time{
                padding: 0;
                margin: 0 0 25px 0;
                font-size: 1.4em;
                line-height: 1.714em;
            }
            /* contacts buttons */
            .contacts-btns{
                margin: 42px 0 0 0;
            }
                .btn-map, .btn-feedback {
                    width: 140px;
                    margin: 0 17px 0 0;
                }

            /*
             * RIGHT COLUMN:
             * ORDER
             */
            .index-order {
                width: 300px;
            }
                /* title for order form */
                .index-order p {
                    margin: 0 0 25px 0;
                    font-size: 1.4em;
                    line-height: 1.714em;

                }
                /* order form */
                .order-form fieldset {
                    padding: 0;
                    border: none;
                    margin: 0 0 19px 0; /* free vertical space between input elements */
                }
                    .order-form input{
                        width: 121px;
                        height: 39px;
                        padding: 0 0 0 15px;
                        border: 2px solid #000;
                        font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        text-transform: uppercase;

                    }
                    .order-form fieldset input:nth-child(1){
                        margin: 0 17px 0 0; /* free horizontal space between input elements */
                    }
                /* submit button */
                .btn-order-submit{
                    border: none;
                    width: 300px;
                    margin-top: 13px;
                }

/* ============================================================
   CONTENT: MAGAZINE PAGE
   ============================================================ */
/*
 * LEFT COLUMN
 */
.magazine-left-column {
    float: left;
    width: 220px;
    margin: 0 0 0 10px;
}
    /* container for single widget */
    .widget {
        margin-bottom: 40px; /* free space between widgets */
    }
        .widget:last-child{
            margin-bottom: 0; /* delete margin for last widget */
        }
        /* heading for widgets */
        .widget-heading {
            margin-bottom: 30px;
            font-size: 2.4em;
        }
        /*
         * WIDGET: PRODUCERS
         */
        .widget .producers{
            font-size: 1.4em;
        }
        /*
         * WIDGET: GROUP OF GOODS
         */
        .goods-group {
            padding: 0;
            margin: 0;
            list-style: none;
        }
            /* buttons for groups */
            .goods-group .btn {
                width: 220px;
                margin: 0 0 9px 0; /* free space between groups */
            }
            /* active group */
            .goods-group .btn.current {
                background: #fff;
                color: #000;
            }
/*
* RIGHT COLUMN
*/
.magazine-right-column {
    width: 720px;
    padding: 0 0 47px 0;
    margin: 0 0 0 240px;
}
    /* single item */
    .magazine-item{
        float: left;
        width: 220px;
        padding: 0 0 16px 0;
        margin: 10px; /* free space between items */
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        text-align: center;
    }
        /* image for items*/
        .magazine-item-img {
            width: 220px;
            height: 165px;
        }
        /* description for items */
        .magazine-item-description {
            margin: 7px 0 0 16px;
            font-size: 1.4em;
            line-height: 1.286em;
            text-align: left;
        }
        /* name of the firm item */
        .magazine-item-firm {
            margin: 0 0 0 16px;
            font-size: 1.4em;
            line-height: 1.286em;
            text-align: left;
        }
        /* button for add to cart */
        .magazine-item-add {
            width: 187px;
            margin: 13px 0 0 0;
            background-color: #e2e2e2;
            color: #000;
        }
            .magazine-item-add:hover{
                background-color: #000;
                color: #fff;
            }
    /*
     * PAGINATION
    */
    .magazine-pagination {
        clear: both;
        padding: 34px 0 0 0;
        margin: 0 0 0 10px;
    }
        /* pagination item */
        .magazine-pagination-item {
            display: inline-block;
            list-style: none;
        }
            .magazine-pagination-item a{
                display: block;
                width: 43px;
                height: 43px;
                margin: 0 4px 0 0;
                background: #000;
                text-decoration: none;
                text-align: center;
                font-size: 1.4em;
                color: #fff;
                line-height: 3.071em;
            }
                /* delete margin for last item */
                .magazine-pagination-item:last-child a{
                    margin-right: 0;
                }
            /* pagination active item */
            .magazine-pagination-item.current a{
                height: 39px; /* height is less for use border */
                border-bottom: 4px solid #000;
                background: #fff;
                color: #000;
            }
/*
/* ============================================================
   CONTENT: PRICE PAGE
   ============================================================ */
/*
 * MOTTO
 */
.price-motto {
    position: relative;
    margin: 0 10px 55px 10px;
    font-size: 4.8em;
    text-align: center;
}
    /* lines before and after motto */
    .price-motto:before, .price-motto:after {
        content: "";
        position: absolute;
        top: 55%;
        left: 0;
        display: block;
        background: #000;
        height: 2px;
        width: 160px;
        margin-top: -1px;
    }
    .price-motto:after {
        right: 0;
        left: auto;/* узнать, почему без этого свойства не отображает линию справа */
    }

/*
 * LEFT COLUMN
 */
.price-left-column{
    float: left;
    width: 240px;
    margin: 0 0 0 10px;
}
    /* heading for columns */
    .price-column-heading{
        margin: 0 0 30px 0;
        font-size: 2.4em;
        line-height: 1.250em;
    }
    /* used tools */
    .price-used-tools{
        margin: 0;
        padding: 0;
    }
        /* used tools item */
        .price-used-tools-item{
            list-style: none;
            position: relative; /* for icon before element */
            padding: 0 0 0 20px; /* free space between icon and text */
            margin: 0 0 15px 0; /* free space between items */
        }
        /* icon before element */
        .price-used-tools-item:before{
            content: "";
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            top: 50%;
            left: 0;
            background: url("../img/spritesheet.png") no-repeat -145px -5px;
        }
        .price-used-tools-item:last-child {
            margin-bottom: 0; /* delete margin for last item */
        }
            .price-used-tools-item a {
                text-decoration: none;
                color: #000;
                font-size: 1.4em;
                line-height: 1.714em;
            }
/*
 * PRICE LIST
 */
.price-right-column {
    float: right;
    width: 460px;
    margin: 0 10px 0 0;
}
    .price-right-column .price-column-heading{
        margin-bottom: 36px; /* for the same spacing under heading like in left column */
    }
    /* price list */
    .price-list{
        border-collapse: collapse;
    }
        .price-column-heading {
            text-align: left;
        }
        /* single cell */
        .price-list th,
        .price-list td {
            border: 2px solid #000;
            width: 230px;
            padding: 0 0 0 17px;
            font-size: 1.4em;
            line-height: 2.857em;
        }
        /* cell with price */
        .price-right-column td+td,
        .price-right-column th+th {
            text-align: center;
        }

/*
 * ABOUT US
 */
.price-about-us {
    clear: both;
    padding: 55px 0 0 0;
    margin: 0 10px 0 10px;
}
    .about-us-left-column,
    .about-us-right-column {
        width: 390px;
        padding: 0 80px 50px 0;
        font-size: 1.4em;
        line-height: 1.714em;
    }
    .about-us-left-column {
        float: left;
    }
    .about-us-right-column {
        float: right;
        padding-right: 70px;
    }
/* ============================================================
   FOOTER
   ============================================================ */
.footer {
    padding: 50px 0 55px 0;
    margin: 29px 0 0 0;
    background: #202020 url("../img/bg_footer.png");
}
    /*
     * address
     */
    .address{
        float: left;
        padding: 0;
        margin: 0 0 0 10px;
        color: #fff;
        font-size: 1.4em;
        line-height: 1.714em;
    }

    /*
     * copyright
     */
    .copyright {
        float: right;
        margin: 0 10px 0 0;
        text-align: center;
    }
        .copyright p {
            padding: 0;
            margin: 0 0 8px 0;
            font-size: 1.4em;
            color: #fff;
        }
        .btn-copyright{
            width: 140px;
        }

    /*
     * social buttons
     */
    .social-buttons {
            width: 160px;
            margin: 0 auto;
            font-size: 1.4em;
            text-align: center;
            color: #fff;
        }
        .social-buttons p {
            padding: 0;
            margin: 0 0 8px 0;
        }

        /* buttons */
        .btn-social {
            display: inline-block;
            width: 43px;
            height: 43px;
            margin-right: 3px;
            background: #000 url("../img/spritesheet.png") no-repeat 0 0;
        }
            .btn-social:last-child {
                margin-right: 0;
            }
            /* position for icons */
            .btn-social-vk{
                background-position: -5px -58px;
            }
            .btn-social-fb{
                background-position: -54px -58px;
            }
            .btn-social-inst{
                background-position: -103px -58px;
            }
            .btn-social-vk:hover{
                background-position: -5px -111px;
            }
            .btn-social-fb:hover{
                background-position: -54px -111px;
            }
            .btn-social-inst:hover{
                background-position: -103px -111px;
            }

/* ============================================================
   POP-UP: LOGIN FORM
   ============================================================ */
.popup-login{
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    width: 300px;
    min-height: 200px;
    padding: 50px 80px 60px;
    margin-left: -230px;
    background: #fff url("../img/bg_other_page.png");
}
    /* button for close pop-up */
    .btn-close{
        position: absolute;
        top: 60px;
        right: -60px;
        width: 21px;
        height: 21px;
        background: url("../img/spritesheet.png") no-repeat -5px -293px;
        cursor: pointer;
    }
    /* heading for pop-up */
    .popup-login-heading {
        font-size: 3em;
        line-height: 1.4em;
    }
    /* text under heading */
    .popup-login-txt {
        font-size: 1.4em;
        line-height: 1.714em;
    }
    .popup-login .account-input {
        width: 281px;
        height: 38px;
        padding: 0 0 0 15px;
        border: 2px solid #000;
        font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
        font-size: 1.4em;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
    }
    .popup-login .account-input-login {
        margin: 0 0 9px 0; /* spacing between input elements */
    }
    .popup-login .account-input-login + label,
    .popup-login .account-input-pass + label{
        position: relative; /* for icons in input */
    }
    /* icons for input & position for icon login input */
    .popup-login .account-input-login + label:before,
    .popup-login .account-input-pass + label:before{
        position: absolute;
        content: "";
        width: 15px;
        height: 15px;
        margin-top: -8px;
        top: 50%;
        left: -30px;
        background: url("../img/spritesheet.png") no-repeat -95px -5px;
    }
    /* position for icon password input */
    .popup-login .account-input-pass + label:before{
        background-position: -120px -5px;
    }
    .popup-login .checkbox + label {
        display: inline-block;
        padding: 0 0 0 32px;
        margin: 15px 73px 0 0;
        font-size: 1.4em;
    }
    .popup-login .account-forgot {
        display: inline-block;
        font-size: 1.4em;
        color: #000;
    }
    .popup-login .btn-send {
        width: 300px;
        border: none;
        margin: 17px 0 0 0;
        font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
        cursor: pointer;
    }