<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NЁRDS - дизайн-студия</title>
        <meta name="description" content="#">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <!-- header -->
        <div class="header">
            <!-- header top -->
            <div class="header-top">
                <div class="layout-wrapper-center clear">
                    <h1 class="logo"><a class="logo-link" href="index.html">NЁRDS <span class="logo-text">design studio</span></a></h1>
                    <!-- navigation  -->
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-item-link nav-item-link-current" href="#studio">студия</a></li>
                        <li class="nav-item"><a class="nav-item-link" href="#clients">клиенты</a></li>
                        <li class="nav-item"><a class="nav-item-link" href="#shop">магазин</a></li>
                        <li class="nav-item"><a class="nav-item-link" href="#contacts">контакты</a></li>
                    </ul><!-- /navigation  -->
                    <!-- cart -->
                    <div class="cart">
                        <a class="cart-link" href="#">корзина</a>
                    </div><!-- /cart -->
                </div>
            </div><!-- /header top -->
            <!-- header bottom -->
            <div class="header-bottom">
                <div class="layout-wrapper-center">
                    <div class="slider clear">
                        <div class="slider-content">
                            <div class="slider-title">
                                <strong>Долго, дорого,<br>
                                скурпулезно.</strong>
                            </div>
                            <p class="slider-description">
                                Математически выверенный дизайн<br>
                                для вашего сайта или мобильного приложения.
                            </p>
                            <a class="slider-btn btn" href="#">узнать больше</a>
                        </div>
                        <ul class="slider-controls">
                            <li class="slider-controls-item slider-controls-item-current"></li>
                            <li class="slider-controls-item"></li>
                            <li class="slider-controls-item"></li>
                        </ul>
                        <img class="slider-img" src="pict/bg_slider.png" width="338" height="231" alt="alt">
                    </div>
                </div>
            </div><!-- /header bottom -->
        </div><!-- /header -->
        <!-- content -->
        <div class="content">
            <div class="layout-wrapper-center">
                    <!-- features -->
                    <div class="index-section features clear">
                        <div class="features-item">
                            <img class="features-img" src="pict/features_sites.jpg" width="240" height="124" alt="alt">
                            <div class="features-content">
                                <div class="features-title"><strong>веб-сайты</strong></div>
                                <p>Мир никогда не будет прежним после того как увидит ваш сайт!</p>
                            </div>
                            <a class="features-btn btn" href="#">заказать</a>
                        </div>
                        <div class="features-item">
                            <img class="features-img" src="pict/features_apps.jpg" width="240" height="124" alt="alt">
                            <div class="features-content">
                                <div class="features-title"><strong>приложения</strong></div>
                                <p>Покорите топ-10 приложений
                                    в AppStrore и Google Play</p>
                            </div>
                            <a class="features-btn features-btn-apps btn" href="#">заказать</a>
                        </div>
                        <div class="features-item">
                            <img class="features-img" src="pict/features_presentation.jpg" width="240" height="124" alt="alt">
                            <div class="features-content">
                                <div class="features-title"><strong>презентации</strong></div>
                                <p>Вы даже не подозреваете,
                                    насколько вы изумительны!</p>
                            </div>
                            <a class="features-btn features-btn-presentation btn" href="#">заказать</a>
                        </div>
                    </div><!-- features -->
                    <!-- description -->
                    <div id="studio" class="index-section description clear">
                        <div class="description-column-left">
                            <h2>Мы — маленькая, но гордая
                                дизайн-студия из Краснодара.
                            </h2>
                            <p>Исповедуем принципы минимализма и чистоты. Ставим математический расчет выше креатива. Работаем не покладая рук, как роботы.</p>
                            <h3>выполняем заказы на разработку:</h3>
                            <ul class="description-list">
                               <li class="description-list-item">Веб-сайтов любой сложности</li>
                               <li class="description-list-item">Мобильных приложений для iOS и Android</li>
                               <li class="description-list-item">Слайдшоу и видео для корпоративных презентаций</li>
                            </ul>
                        </div>
                        <div class="description-column-right">
                            <img class="description-img" src="pict/description.jpg" width="240" height="318" alt="alt">
                        </div>
                    </div><!-- /description -->
                    <!-- work examples -->
                    <ul id="clients" class="index-section work-examples">
                        <li class="work-examples-item"><a class="work-examples-item-link" href="#"><img src="pict/ex_glukhanko.jpg" width="198" height="37" alt="alt"></a></li>
                        <li class="work-examples-item"><a class="work-examples-item-link" href="#"><img src="pict/ex_html.jpg" width="199" height="50" alt="alt"></a></li>
                        <li class="work-examples-item"><a class="work-examples-item-link" href="#"><img src="pict/ex_borodinski.jpg" width="209" height="87" alt="alt"></a></li>
                    </ul><!-- /work examples -->
                    <!-- shop -->
                    <div id="shop" class="index-section shop clear">
                        <div class="shop-column-left">
                            <div class="widget">
                                <div class="widget-title"><strong>стоимость:</strong></div>
                                <div class="widget-content widget-price">
                                    <div class="widget-price-slider-wrapper">
                                        <div class="widget-price-slider"></div>
                                    </div>
                                    <div class="widget-price-inputs">
                                        <label for="price-value-min">ОТ</label><input id="price-value-min" class="widget-price-value-min" type="text" name="" value="" disabled="disabled">
                                        <label for="price-value-max">ДО</label><input id="price-value-max" class="widget-price-value-max" type="text" name="" value="" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="widget-title"><strong>сетка:</strong></div>
                                <ul class="widget-content widget-grid">
                                    <li class="widget-grid-item"><input id="gridItem1" class="radio" type="radio" name="gridItem" value="#" checked="checked"><label for="gridItem1">Адаптивная</label></li>
                                    <li class="widget-grid-item"><input id="gridItem2" class="radio" type="radio" name="gridItem" value="#"><label for="gridItem2">Фиксированая</label></li>
                                    <li class="widget-grid-item"><input id="gridItem3" class="radio" type="radio" name="gridItem" value="#"><label for="gridItem3">Резиновая</label></li>
                                </ul>
                            </div>
                            <div class="widget">
                                <div class="widget-title"><strong>особенности:</strong></div>
                                <ul class="widget-content widget-features">
                                    <li class="widget-features-item"><input id="feature1" class="checkbox" type="checkbox" name="feature1" checked="checked"><label for="feature1">Слайдер</label></li>
                                    <li class="widget-features-item"><input id="feature2" class="checkbox" type="checkbox" name="feature2" checked="checked"><label for="feature2">Блок преимуществ</label></li>
                                    <li class="widget-features-item"><input id="feature3" class="checkbox" type="checkbox" name="feature3" checked="checked"><label for="feature3">Новости</label></li>
                                    <li class="widget-features-item"><input id="feature4" class="checkbox" type="checkbox" name="feature4" checked="checked"><label for="feature4">Галерея</label></li>
                                    <li class="widget-features-item"><input id="feature5" class="checkbox" type="checkbox" name="feature5" checked="checked"><label for="feature5">Корзина</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="shop-column-right">
                            <div class="sorting">
                                <div class="sorting-title"><strong>сортировать:</strong></div>
                                <ul class="sorting-category">
                                    <li class="sorting-category-item">по цене</li>
                                    <li class="sorting-category-item">по типу</li>
                                    <li class="sorting-category-item sorting-to-bottom">по функционалу</li>
                                </ul>
                            </div>
                            <!-- work list -->
                            <ul class="work-list clear">
                                <li class="work-list-item">
                                    <div class="work-description">
                                        <div class="work-description-title">киоск</div>
                                        <p class="work-description-content">Интернет-магазин<br> с личным кабинетом</p>
                                        <a class="work-description-btn btn" href="#">10 000 Р.</a>
                                    </div>
                                    <img class="work-list-item-img" src="pict/work_list_1.jpg" width="240" height="240" alt="alt">
                                </li>
                                <li class="work-list-item">
                                    <div class="work-description">
                                        <div class="work-description-title">киоск</div>
                                        <p class="work-description-content">Интернет-магазин<br> с личным кабинетом</p>
                                        <a class="work-description-btn btn" href="#">10 000 Р.</a>
                                    </div>
                                    <img class="work-list-item-img" src="pict/work_list_2.jpg" width="240" height="240" alt="alt">
                                </li>
                                <li class="work-list-item">
                                    <div class="work-description">
                                        <div class="work-description-title">киоск</div>
                                        <p class="work-description-content">Интернет-магазин<br> с личным кабинетом</p>
                                        <a class="work-description-btn btn" href="#">10 000 Р.</a>
                                    </div>
                                    <img class="work-list-item-img" src="pict/work_list_3.jpg" width="240" height="240" alt="alt">
                                </li>
                                <li class="work-list-item">
                                    <div class="work-description">
                                        <div class="work-description-title">киоск</div>
                                        <p class="work-description-content">Интернет-магазин<br> с личным кабинетом</p>
                                        <a class="work-description-btn btn" href="#">10 000 Р.</a>
                                    </div>
                                    <img class="work-list-item-img" src="pict/work_list_4.jpg" width="240" height="240" alt="alt">
                                </li>
                                <li class="work-list-item">
                                    <div class="work-description">
                                        <div class="work-description-title">киоск</div>
                                        <p class="work-description-content">Интернет-магазин<br> с личным кабинетом</p>
                                        <a class="work-description-btn btn" href="#">10 000 Р.</a>
                                    </div>
                                    <img class="work-list-item-img" src="pict/work_list_5.jpg" width="240" height="240" alt="alt">
                                </li>
                                <li class="work-list-item">
                                    <div class="work-description">
                                        <div class="work-description-title">киоск</div>
                                        <p class="work-description-content">Интернет-магазин<br> с личным кабинетом</p>
                                        <a class="work-description-btn btn" href="#">10 000 Р.</a>
                                    </div>
                                    <img class="work-list-item-img" src="pict/work_list_6.jpg" width="240" height="240" alt="alt">
                                </li>
                            </ul><!-- /work list -->
                            <!-- pagination -->
                            <ul class="pagination">
                                <li class="pagination-item pagination-item-current"><em>1</em></li>
                                <li class="pagination-item"><a class="pagination-item-link" href="#">2</a></li>
                                <li class="pagination-item"><a class="pagination-item-link" href="#">3</a></li>
                                <li class="pagination-item"><a class="pagination-item-link pagination-item-link-next" href="#">следующая</a></li>
                            </ul><!-- /pagination -->
                        </div>
                    </div><!-- /shop -->
                </div>
            </div><!-- /content -->
        <!-- footer -->
        <div class="footer">
            <!-- map -->
            <div id="contacts" class="map">
                <div class="map-wrapper">
                    <img src="pict/map.jpg" alt="alt" width="1280" height="416">
                </div>
                <div class="layout-wrapper-center location-wrapper">
                    <div class="location">
                        <div class="location-title"><strong>NЁRDS</strong> design studio</div>
                        <p>350000, Краснодар,<br>
                            ул. Головатого, 100</p>
                        <p>тел. +7 (861) 275-75-75</p>
                        <button class="location-btn btn" type="button">напишите нам!</button>
                    </div>
                </div>
            </div><!-- /map -->
            <div class="layout-wrapper-center">
                <div class="socials">
                    <ul class="socials-list">
                        <li class="socials-list-item"><a class="socials-list-item-link socials-vk" href="#"></a></li>
                        <li class="socials-list-item"><a class="socials-list-item-link socials-fb" href="#"></a></li>
                        <li class="socials-list-item"><a class="socials-list-item-link socials-inst" href="#"></a></li>
                    </ul>
                    <div class="socials-description">
                        <h2 class="socials-description-title">Давайте дружить, это выгодно!</h2>
                        <p class="socials-description-text">Скидка 10% для друзей из социальных сетей.</p>
                    </div>
                </div>
            </div>
        </div><!-- footer -->

        <form class="popup-feedback" action="#" method="get">
            <fieldset>
                <label class="popup-feedback-label-name" for="name"><strong>Ваше имя:</strong><br>
                    <input id="name" class="popup-feedback-name" type="text" name="name" placeholder="представьтесь, пожалуйста">
                </label>
                <label class="popup-feedback-label-email" for="email"><strong>Ваш e-mail</strong><br>
                    <input id="email" class="popup-feedback-email" type="text" name="email" placeholder="для отправки ответа">
                </label><br>
                <label class="popup-feedback-label-text" for="text"><strong>Текст письма:</strong><br>
                    <textarea id="text" class="popup-feedback-text" name="text" placeholder="в свободой форме"></textarea>
                </label>
            </fieldset>
            <fieldset class="popup-feedback-inputs">
                <button class="btn btn-submit" type="submit">отправить</button>
                <button class="btn btn-cancel" type="button">отмена</button>
            </fieldset>
        </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>