<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Каталог - Перфораторы - technomart</title>
    <meta name="description" content="#">
    <link rel="stylesheet" type="text/css" href="css/style.css?v.1.0">
</head>
<body>
    <!-- header -->
    <div class="header">
        <!-- header top -->
        <div class="header-top">
            <div class="layout-wrapper-center clearfix">
                <div class="logo">
                    <a class="logo-link" href="index.html">техномарт</a>
                </div>
                <!-- search -->
                <form class="search" action="#" method="get">
                    <button class="search-submit-btn" type="submit">Поиск:</button>
                    <input class="search-query" type="text" name="search-query" placeholder="Перфоратор">
                </form><!-- /search -->
                <!-- bookmarks -->
                <div class="bookmarks">
                    <button class="bookmarks-menu-btn">Закладки: 0</button>
                </div><!-- bookmarks -->
                <!-- cart -->
                <div class="cart">
                    <button class="cart-menu-btn">Корзина: 0</button>
                </div><!-- /cart -->
                <a class="order-btn" href="#">Оформить заказ</a>
            </div>
        </div><!-- /header-top -->
        <!-- header-bottom -->
        <div class="header-bottom">
            <div class="layout-wrapper-center">
                <div class="layout-wrapper-info clearfix">
                    <!-- site-description -->
                    <div class="site-description">
                        Интернет-магазин<br>
                        строительных материалов<br>
                        и инстументов для ремонта
                    </div><!-- /site-description -->
                    <!-- contacts -->
                    <div class="contacts">
                        <div class="contacts-telephone">
                            +7 (495) 555-05-55
                        </div>
                        <span class="contacts-address">Москва, ул. Строителей, д. 15</span>
                    </div><!-- /contacts -->
                    <!-- account -->
                    <div class="account">
                        <div class="account-login">
                            <span class="account-login-name">Равшан Джамшутович</span>
                            <button class="account-login-logout"></button>
                        </div>
                        <ul class="account-menu">
                            <li class="account-menu-item"><a class="account-menu-item-link" href="#">Мои заказы</a></li>
                            <li class="account-menu-item"><a class="account-menu-item-link" href="#">Личный кабинет</a></li>
                        </ul>
                    </div><!-- /account -->
                </div>
                <!-- navigation -->
                <ul class="navigation">
                    <li class="navigation-item"><a class="navigation-item-link" href="index.html">Главная</a></li>
                    <li class="navigation-item"><a class="navigation-item-link" href="#">Компания</a></li>
                    <li class="navigation-item"><a class="navigation-item-link" href="#">Каталог</a></li>
                    <li class="navigation-item"><a class="navigation-item-link" href="#">Новости</a></li>
                    <li class="navigation-item"><a class="navigation-item-link" href="#">Спецпредложения</a></li>
                    <li class="navigation-item"><a class="navigation-item-link" href="#">Доставка</a></li>
                    <li class="navigation-item"><a class="navigation-item-link" href="#">Контакты</a></li>
                </ul><!-- /navigation -->
            </div>
        </div><!-- /header-bottom -->
    </div><!-- /header -->
    <!-- content -->
    <div class="content">
        <div class="layout-wrapper-center">
            <!-- breadcrumbs -->
            <ul class="breadcrumbs">
               <li class="breadcrumbs-item"><a class="breadcrumbs-item-link breadcrumbs-item-link-home" href="index.html"></a></li>
               <li class="breadcrumbs-item"><a class="breadcrumbs-item-link" href="catalog.html">каталог</a></li>
               <li class="breadcrumbs-item"><a class="breadcrumbs-item-link" href="#">инструмент</a></li>
               <li class="breadcrumbs-item breadcrumbs-item-current">перфораторы</li>
            </ul><!-- /breadcrumbs -->
            <h1 class="category-heading">перфораторы</h1>
            <!-- category wrapper -->
            <div class="category-wrapper clearfix">
                <!-- category-left-column -->
                <div class="category-left-column">
                    <div class="category-left-column-header">
                        фильтр:
                    </div>
                    <div class="widget">
                        <div class="widget-heading">цена:</div>
                        <form class="widget-body widget-price">
                            <div class="widget-price-slider-wrapper">
                                <div class="widget-price-slider"></div>
                            </div>
                            <input class="widget-price-value-min" type="text" name="" value="" disabled="disabled">
                            <span class="widget-price-value-separator"> &mdash; </span>
                            <input class="widget-price-value-max" type="text" name="" value="" disabled="disabled">
                        </form>
                    </div>
                    <div class="widget">
                        <div class="widget-heading">производители:</div>
                        <ul class="widget-body widget-manufacturer">
                            <li class="widget-manufacturer-item"><input id="manufacturer-1" class="checkbox" type="checkbox" name="#" value="#"><label for="manufacturer-1">bosch</label></li>
                            <li class="widget-manufacturer-item"><input id="manufacturer-2" class="checkbox" type="checkbox" name="#" value="#"><label for="manufacturer-2">интерскол</label></li>
                            <li class="widget-manufacturer-item"><input id="manufacturer-3" class="checkbox" type="checkbox" name="#" value="#"><label for="manufacturer-3">makita</label></li>
                            <li class="widget-manufacturer-item"><input id="manufacturer-4" class="checkbox" type="checkbox" name="#" value="#"><label for="manufacturer-4">dewalt</label></li>
                            <li class="widget-manufacturer-item"><input id="manufacturer-5" class="checkbox" type="checkbox" name="#" value="#"><label for="manufacturer-5">hitachi</label></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <div class="widget-heading">питание</div>
                        <ul class="widget-body widget-type">
                            <li class="widget-type-item"><input id="type-1" class="radio" type="radio" name="#" value="#"><label for="type-1">аккумуляторные</label></li>
                            <li class="widget-type-item"><input id="type-2" class="radio" type="radio" name="#" value="#"><label for="type-2">сетевые</label></li>
                        </ul>
                    </div>
                </div><!-- /category-left-column -->
                <!-- category-right-column -->
                <div class="category-right-column">
                    <div class="category-right-column-header clearfix">
                        <div class="sorting-name">сортировка:</div>
                        <ul class="sorting">
                            <li class="sorting-item">по цене</li>
                            <li class="sorting-item">по типу</li>
                            <li class="sorting-item">по функционалу</li>
                        </ul>
                    </div>
                    <!-- catalog-list -->
                    <ul class="category-list clearfix">
                        <li class="category-list-item">
                            <img class="category-list-item-img" src="pict/perf_bosh3000.jpg" width="188" height="175" alt="sometitle">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 3000</h2>
                            <div class="category-list-item-price-old">22 500 р.</div>
                            <div class="category-list-item-price">15 500 р.</div>
                        </li>
                        <li class="category-list-item">
                            <img class="category-list-item-img" src="pict/perf_bosh6000.jpg" width="188" height="175" alt="sometitle">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 6000</h2>
                            <div class="category-list-item-price-old">30 500 р.</div>
                            <div class="category-list-item-price">25 500 р.</div>
                        </li>
                        <li class="category-list-item category-list-item-new">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <img  class="category-list-item-img" src="pict/perf_bosh2000.jpg" width="188" height="175" alt="sometitle">
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 2000</h2>
                            <div class="category-list-item-price">12 500 р.</div>
                        </li>
                        <li class="category-list-item">
                            <img class="category-list-item-img" src="pict/perf_bosh3000.jpg" width="188" height="175" alt="sometitle">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 3000</h2>
                            <div class="category-list-item-price-old">22 500 р.</div>
                            <div class="category-list-item-price">15 500 р.</div>
                        </li>
                        <li class="category-list-item">
                            <img class="category-list-item-img" src="pict/perf_bosh6000.jpg" width="188" height="175" alt="sometitle">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 6000</h2>
                            <div class="category-list-item-price-old">30 500 р.</div>
                            <div class="category-list-item-price">25 500 р.</div>
                        </li>
                        <li class="category-list-item category-list-item-new">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <img  class="category-list-item-img" src="pict/perf_bosh2000.jpg" width="188" height="175" alt="sometitle">
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 2000</h2>
                            <div class="category-list-item-price">12 500 р.</div>
                        </li>
                        <li class="category-list-item">
                            <img class="category-list-item-img" src="pict/perf_bosh3000.jpg" width="188" height="175" alt="sometitle">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 3000</h2>
                            <div class="category-list-item-price-old">22 500 р.</div>
                            <div class="category-list-item-price">15 500 р.</div>
                        </li>
                        <li class="category-list-item">
                            <img class="category-list-item-img" src="pict/perf_bosh6000.jpg" width="188" height="175" alt="sometitle">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 6000</h2>
                            <div class="category-list-item-price-old">30 500 р.</div>
                            <div class="category-list-item-price">25 500 р.</div>
                        </li>
                        <li class="category-list-item category-list-item-new">
                            <div class="category-list-item-controls">
                                <button class="category-list-item-buy">Купить</button>
                                <button class="category-list-item-add">В закладки</button>
                            </div>
                            <img  class="category-list-item-img" src="pict/perf_bosh2000.jpg" width="188" height="175" alt="sometitle">
                            <h2 class="category-list-item-name">Перфоратор BOSCH<br> BFG 2000</h2>
                            <div class="category-list-item-price">12 500 р.</div>
                        </li>
                    </ul><!-- /category-list -->
                    <!-- category-pagination -->
                    <ul class="pagination">
                        <li class="pagination-item pagination-item-current">1</li>
                        <li class="pagination-item"><a class="pagination-item-link" href="#">2</a></li>
                        <li class="pagination-item"><a class="pagination-item-link" href="#">3</a></li>
                        <li class="pagination-item"><a class="pagination-item-link pagination-item-link-next" href="#">следующая</a></li>
                    </ul><!-- /category-pagination -->
                </div><!-- /category-right-column -->
            </div><!-- /category wrapper -->
        </div>
        <!-- category about -->
        <div class="category-about">
            <div class="layout-wrapper-center">
                <div class="category-about-heading">
                        пара слов о перфораторах
                </div>
                <div class="category-about-content">
                    Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне.<br>
                    Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного<br>
                    молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.
                </div>
            </div>
        </div><!-- /category about -->
    </div><!-- /content -->
    <!-- footer -->
    <div class="footer">
        <!-- footer-top -->
        <div class="footer-top">
            <div class="layout-wrapper-center clearfix">
                <div class="footer-top-column-left">
                    <a class="footer-logo" href="index.html">техномарт</a>
                    <div class="footer-contacts">
                        г. Москва, ул. Строителей, 15<br>
                        +7 (495) 555-05-55<br>
                    </div>
                </div>
                <div class="footer-top-column-right">
                    <!-- navigation-level-1 -->
                    <ul class="navigation-level-1">
                        <li class="navigation-level-1-item"><a class="navigation-level-1-item-link" href="#">компания</a></li>
                        <li class="navigation-level-1-item"><a class="navigation-level-1-item-link" href="#">новости</a></li>
                        <li class="navigation-level-1-item"><a class="navigation-level-1-item-link" href="#">каталог</a></li>
                        <li class="navigation-level-1-item"><a class="navigation-level-1-item-link" href="#">доставка</a></li>
                        <li class="navigation-level-1-item"><a class="navigation-level-1-item-link" href="#">контакты</a></li>
                    </ul><!-- /navigation-level-1 -->
                    <!-- navigation-level-2 -->
                    <ul class="navigation-level-2">
                        <li class="navigation-level-2-item"><a class="navigation-level-2-item-link" href="#">материалы</a></li>
                        <li class="navigation-level-2-item"><a class="navigation-level-2-item-link" href="#">техника</a></li>
                        <li class="navigation-level-2-item"><a class="navigation-level-2-item-link" href="#">инструмент</a></li>
                        <li class="navigation-level-2-item navigation-level-2-item-picked"><a class="navigation-level-2-item-link" href="#">спецпредложения</a></li>
                    </ul><!-- /navigation-level-2 -->
                </div>
            </div>
        </div><!-- /footer-top -->
        <!-- footer-bottom -->
        <div class="footer-bottom">
            <div class="layout-wrapper-center clearfix">
                <!-- footer-bottom-column-left -->
                <div class="footer-bottom-column-left">
                    <div class="copyright">
                        &copy; 2010–2013 Компания &laquo;Техномарт&raquo;<br>
                        Все права защищены
                    </div>
                </div><!-- /footer-bottom-column-left -->
                <!-- footer-bottom-column-right -->
                <div class="footer-bottom-column-right">
                    <!-- social buttons -->
                    <ul class="social">
                        <li class="social-item"><a class="social-item-link social-item-link-vk" href="#"></a></li>
                        <li class="social-item"><a class="social-item-link social-item-link-fb" href="#"></a></li>
                        <li class="social-item"><a class="social-item-link social-item-link-inst" href="#"></a></li>
                    </ul><!-- /social buttons -->
                    <div class="feedback">
                        Обратная связь:<br>
                        <a class="feedback-link" href="mailto:somemail">info@technomart.ru</a>
                    </div>
                    <div class="author">
                        Дизайн сайта —<br>
                        <cite><a class="author-site" href="#">www.Glukhanko.ru</a></cite>
                    </div>
                </div><!-- /footer-bottom-column-right -->
            </div>
        </div><!-- footer-bottom -->
    </div><!-- /footer -->

    <div class="buy-popup">
        <div class="buy-popup-info">
            <div class="buy-popup-info-text">
                Товар добавлен в корзину!
            </div>
        </div>
        <div class="buy-popup-controls clearfix">
            <a href="#" class="buy-popup-submit btn">оформить заказ</a>
            <button class="buy-popup-resume" type="button">продолжить покупки</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>


</body>
</html>
        