<!DOCTYPE html>
<html>
    <head>
        <title>Barbershop Borodinski</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
        <meta name="description" content="#">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=latin,cyrillic">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/media-queries.css">
        <!-- IE styles -->
            <!--[if IE 6]>
                <link rel="stylesheet" type="text/css" href="css/ie6.css">
            <![endif]-->
            <!--[if IE 7]>
                <link rel="stylesheet" type="text/css" href="css/ie7.css">
            <![endif]-->
            <!--[if IE 8]>
                <link rel="stylesheet" type="text/css" href="css/ie8.css">
            <![endif]-->
        <!-- /IE styles -->
    </head>
    <body class="index-page">

        <!-- header -->
        <div class="header">

            <div class="layout-center-wrapper clearfix">

                <!-- navigation -->
                <ul class="top-menu">
                    <li class="top-menu-item current"><a href="#">Главная</a></li>
                    <li class="top-menu-item"><a href="#">Информация</a></li>
                    <li class="top-menu-item"><a href="#">Новости</a></li>
                    <li class="top-menu-item"><a href="price.html">Прайс-лист</a></li>
                    <li class="top-menu-item"><a href="magazine.html">Магазин</a></li>
                    <li class="top-menu-item"><a href="#">Контакты</a></li>
                </ul><!-- /navigation -->

                <div class="account-menu">
                    <button class="account-menu-enter">Вход</button>
                </div>

            </div>

        </div><!-- /header -->

        <!-- content -->
        <div class="layout-center-wrapper clearfix">

            <div class="logo">
                <a href="#">Barbershop Borodinski</a>
            </div>

            <!-- features -->
            <ul class="features clearfix">
                <li>
                    <div class="features-title">
                        Быстро
                    </div>
                    <p>
                        Мы делаем свою работу быстро! Два часа пролетят незаметно и вы - счастливый обладатель стильной стрижки минутки!
                    </p>
                </li>
                <li>
                    <div class="features-title">
                        Круто
                    </div>
                    <p>
                        Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.
                    </p>
                </li>
                <li>
                    <div class="features-title">
                        Дорого
                    </div>
                    <p>
                        Наши мастера - проффесионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?
                    </p>
                </li>
            </ul><!-- /features -->

            <!-- index section: news & photo -->
            <div class="index-section clearfix">

                <!-- left column: news -->
                <div class="index-left-column">
                    <div class="column-title">
                        Новости
                    </div>
                    <ul class="index-news">
                        <li>
                            <a href="#">Мы наконец завезли ягермейстер! теперь вы можете пропустить стаканчик во время стрижки</a><br/>
                            <span class="date">25 сентября</span>
                        </li>
                        <li>
                            <a href="#">В нашей команде пополнение, борис "бритва" стригунец, обладатель множества титулов и наград пополнил наши стройные ряды</a><br/>
                            <span class="date">19 сентября</span>
                        </li>
                    </ul>
                    <a class="btn index-news-btn" href="#">Все новости</a>
                </div><!-- /left column: news -->

                <!-- right column: photo -->
                <div class="index-right-column">
                    <div class="column-title">
                        Фотогалерея
                    </div>
                    <div class="gallery clearfix">
                        <div class="gallery-items">
                            <div class="gallery-item">
                                <img src="pict/slider_img.jpg" width="286" height="164" alt="slider item"/>
                            </div>
                        </div>
                        <div class="gallery-controls clearfix">
                            <button class="btn gallery-btn-prev">назад</button>
                            <button class="btn gallery-btn-next">вперед</button>
                        </div>
                    </div>
                </div><!-- /right column: photo -->

            </div><!-- /news & photo -->

            <!-- index section: contacts & order -->
            <div class="index-section clearfix">

                <!-- left column: contacts -->
                <div class="index-left-column">
                    <div class="column-title">
                        Контактная информация
                    </div>
                    <p class="contacts-address">
                        <strong>Barbershop "Borodinski"</strong><br/>
                        Адрес: г. Москва, ул. Собаки Павлова, д.13<br/>
                        Телефон: +7 (495) 666-02-666
                    </p>
                    <p class="contacts-work-time">
                            Время работы:<br/>
                            Пн - Пт: с 10:00 до 22:00<br/>
                            Сб - Вс: с 10:00 до 19:00
                    </p>
                    <div class="contacts-btns">
                        <a class="btn btn-map" href="#">Как проехать</a>
                        <a class="btn btn-feedback" href="#">Обратная связь</a>
                    </div>
                </div><!-- /left column: contacts -->

                <!-- right column: order -->
                <div class="index-right-column">
                    <div class="column-title">
                        Записаться
                    </div>
                    <div class="index-order">
                        <p>
                            Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони
                        </p>
                        <form class="order-form" action="#" method="post">
                            <fieldset>
                                <input type="text" name="date" placeholder="Дата"/>
                                <input type="text" name="time" placeholder="Время"/>
                            </fieldset>
                            <fieldset>
                                <input type="text" name="name" placeholder="ваше имя"/>
                                <input type="text" name="phone" placeholder="телефон"/>
                            </fieldset>
                            <button class="btn btn-order-submit" type="submit">отправить</button>
                        </form>
                    </div>
                </div><!-- /right column: order -->

            </div><!-- /contacts & order -->

        </div><!-- /content-->

        <!-- footer -->
        <div class="footer">

            <div class="layout-center-wrapper clearfix">

                <p class="address">
                    BARBERSHOP "BORODINSKI"<br/>
                    Адрес: г.Москва, ул. Собаки Павлова, д. 13<br/>
                    Телефон: +7 (495) 666-02-666
                </p>

                <div class="copyright">
                    <p>Дизайн сайта:</p>
                    <a class="btn btn-copyright" href="#">site.name</a>
                </div>

                <div class="social-buttons">
                    <p><strong>Давайте дружить!</strong></p>
                    <a class="btn-social btn-social-vk" href="#"></a>
                    <a class="btn-social btn-social-fb" href="#"></a>
                    <a class="btn-social btn-social-inst" href="#"></a>
                </div>

            </div>

        </div>
        <!-- /footer -->

        <!-- pop-up: login -->
        <div class="popup-login">
            <div class="btn-close">
            </div>
            <div class="popup-login-heading">
                личный кабинет
            </div>
            <p class="popup-login-txt">
                Введите пожалуйста свой логин и пароль<br/>
                если вы забыли пароль
            </p>
            <form action="#" method="get">
                <input id="login" class="account-input account-input-login" type="text" placeholder="логин"/><label for="login"></label><br/>
                <input id="pass" class="account-input account-input-pass" type="password" placeholder="пароль"/><label for="pass"></label><br/>
                <input id="remember" class="account-remember checkbox" type="checkbox" checked/><label for="remember">запомните меня</label>
                <a class="account-forgot" href="#">я забыл пароль!</a><br/>
                <button class="btn-send btn">войти</button>
            </form>
        </div><!-- /pop-up: login -->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/myscript.js"></script>

    </body>
</html>