<!DOCTYPE html>
<html>
    <head>
        <title>Прайс - Barbershop Borodinski</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/media-queries.css">
        <!-- IE styles -->
            <!--[if IE 6]>
                <link rel="stylesheet" type="text/css" href="css/ie6.css">
            <![endif]-->
            <!--[if IE 7]>
                <link rel="stylesheet" type="text/css" href="css/ie7.css">
            <![endif]-->
            <!--[if IE 8]>
                <link rel="stylesheet" type="text/css" href="css/ie8.css">
            <![endif]-->
        <!-- /IE styles -->
    </head>
    <body>

        <!-- header -->
        <div class="header">

            <div class="layout-center-wrapper clearfix">

                <!-- navigation -->
                <ul class="top-menu">
                    <li class="top-menu-item"><a href="index.html">Главная</a></li>
                    <li class="top-menu-item"><a href="#">Информация</a></li>
                    <li class="top-menu-item"><a href="#">Новости</a></li>
                    <li class="top-menu-item current"><a href="price.html">Прайс-лист</a></li>
                    <li class="top-menu-item"><a href="magazine.html">Магазин</a></li>
                    <li class="top-menu-item"><a href="#">Контакты</a></li>
                </ul><!-- /navigation -->

                <div class="account-menu">
                    <button class="account-menu-enter" href="#">Вход</button>
                </div>

            </div>

        </div><!-- /header -->

        <!-- content -->
        <div class="layout-center-wrapper clearfix">

            <!-- heading for page -->
            <h1 class="page-heading">Barbershop borodinski &mdash; прайс-лист</h1><!-- /heading for page -->

            <!-- breadcrumbs -->
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="#">Главная</a></li>
                <li class="breadcrumbs-item current">прайс-лист</li>
            </ul><!-- /breadcrumbs -->

            <div class="price-motto">
                Истинно мужская классика
            </div>

            <!-- left column: used tools  -->
            <div class="price-left-column">

                <div class="price-column-heading">
                    мы используем только лучшие средства:
                </div>

                <ul class="price-used-tools">
                    <li class="price-used-tools-item"><a href="#">baxter of california</a></li>
                    <li class="price-used-tools-item"><a href="#">mr natty</a></li>
                    <li class="price-used-tools-item"><a href="#">suavetico</a></li>
                    <li class="price-used-tools-item"><a href="#">malin+goetz </a></li>
                </ul>

            </div><!-- /left column:used tools -->

            <!-- right column: price-list -->
            <div class="price-right-column">

                <table class="price-list">

                    <caption class="price-column-heading">
                        цены на услуги<br/> наших мастеров:
                    </caption>

                    <tbody>

                        <tr>
                            <td>Стрижка</td>
                            <td>1500 р.</td>
                        </tr>
                        <tr>
                            <td>стрижка бороды</td>
                            <td>500 р.</td>
                        </tr>
                        <tr>
                            <td>накрутка усов</td>
                            <td>350 р.</td>
                        </tr>

                    </tbody>

                </table>

            </div><!-- /right column: price-list -->

            <div class="price-about-us">

                <div class="price-column-heading">
                    несколько слов о нас:
                </div>

                <div class="about-us-left-column">
                    Наша парикмахерская занимается исключительно мужскими стрижками. Стрижка каждого клиента для нас - это уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.
                </div>

                <div class="about-us-right-column">
                    Наша мастерская расположена в центре города, поэтому сделать стильную стрижку можно в любое время, даже в обеденный перерыв. Здесь вы можете погрузиться в удобную для вас атмосферу, чувствовать себя комфортно и свободно!
                </div>

            </div>

        </div><!-- /content -->

        <!-- footer -->
        <div class="footer">

            <div class="layout-center-wrapper clearfix">

                <p class="address">
                    BARBERSHOP "BORODINSKI"<br/>
                    Адрес: г.Москва, ул. Собаки Павлова, д. 13<br/>
                    Телефон: +7 (495) 666-02-666
                </p>

                <div class="copyright">
                    <p>Дизайн сайта:</p>
                    <a class="btn btn-copyright" href="#">site.name</a>
                </div>

                <div class="social-buttons">
                    <p><strong>Давайте дружить!</strong></p>
                    <a class="btn-social btn-social-vk" href="#"></a>
                    <a class="btn-social btn-social-fb" href="#"></a>
                    <a class="btn-social btn-social-inst" href="#"></a>
                </div>

            </div>

        </div>
        <!-- /footer -->

        <!-- pop-up: login -->
        <div class="popup-login">
            <div class="btn-close">
            </div>
            <div class="popup-login-heading">
                личный кабинет
            </div>
            <p class="popup-login-txt">
                Введите пожалуйста свой логин и пароль<br/>
                если вы забыли пароль
            </p>
            <form action="#" method="get">
                <input id="login" class="account-input account-input-login" type="text" placeholder="логин"/><label for="login"></label><br/>
                <input id="pass" class="account-input account-input-pass" type="password" placeholder="пароль"/><label for="pass"></label><br/>
                <input id="remember" class="account-remember checkbox" type="checkbox" checked/><label for="remember">запомните меня</label>
                <a class="account-forgot" href="#">я забыл пароль!</a><br/>
                <button class="btn-send btn">войти</button>
            </form>
        </div><!-- /pop-up: login -->

        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/myscript.js"></script>

    </body>
</html>